params {
    ref              = 'https://s3.us-east-1.amazonaws.com/webdata.illumina.com/downloads/software/dragen/references/genome-files/hg38-alt_masked.cnv.graph.hla.methyl_cg.rna-11-r5.0-1.tar.gz'
    bam              = 's3://joseph-dragen-test/inputs/TSO_bams/131013099-24185S0021-24TSOD102-8471.bam'
    target_bed       = 's3://joseph-dragen-test/resources/Bedfiles/TST500C_manifest.bed'
    combined_counts  = 's3://joseph-dragen-test/inputs/TSO500_21_sample_PON/TSO500-PON.combined.counts.txt.gz'
    population_b_allele_vcf = 's3://joseph-dragen-test/resources/population_normals/hg19_1000G_phase1.snps.high_confidence.vcf.gz'
    prefix           = '131013099-24185S0021-24TSOD102-8471'
    output_dir       = 'results'
    intermediate_dir = 'tmp'
    dragen_container = "public.ecr.aws/docker/library/oraclelinux:8"
    lic              = ""
}

process {
  cpus = 20
  memory = 200.GB
  container = "${params.dragen_container}"
  containerOptions = '-v /opt/edico/bin:/opt/edico/bin'
}

aws {
    batch {
        volumes = '/opt/edico/bin:/opt/edico/bin'
    }
}