params {
    ref              = 'https://joseph-dragen-test.s3.eu-west-2.amazonaws.com/prebuiltDragenReference/'
    fastq1           = 'https://joseph-dragen-test.s3.eu-west-2.amazonaws.com/dragenTestInputs/NA24385-AJ-Son-R1-NS_S33_L001_R1_001.fastq.gz'
    fastq2           = 'https://joseph-dragen-test.s3.eu-west-2.amazonaws.com/dragenTestInputs/NA24385-AJ-Son-R1-NS_S33_L001_R2_001.fastq.gz'
    rgid             = 'NA24385_RGID'
    rgsm             = 'NA24385'
    prefix           = 'NA24385'
    output_dir       = 'results'
    intermediate_dir = 'tmp'
    dragen_container = "public.ecr.aws/docker/library/oraclelinux:8"
}

process {
  
  cpus   = { 1      * task.attempt }
  memory = { 6.GB   * task.attempt }
  time   = { 4.h    * task.attempt }
    
  withLabel: 'dragen' {
    cpus = 20
    memory = 200.GB
    time = 4.h
    }
}


aws {
    batch {
        volumes = '/opt/edico/bin:/opt/edico/bin'
    }
}
