params {
    ref              = 'https://s3.us-east-1.amazonaws.com/webdata.illumina.com/downloads/software/dragen/references/genome-files/hg38-alt_masked.cnv.graph.hla.methyl_cg.rna-11-r5.0-1.tar.gz'
    fastq1           = 'https://ilmn-dragen-giab-samples.s3.amazonaws.com/WES/HG002/NA24385-AJ-Son-R1-NS_S33_L001_R1_001.fastq.gz'
    fastq2           = 'https://ilmn-dragen-giab-samples.s3.amazonaws.com/WES/HG002/NA24385-AJ-Son-R1-NS_S33_L001_R2_001.fastq.gz'
    rgid             = 'NA24385_RGID'
    rgsm             = 'NA24385'
    prefix           = 'NA24385'
    output_dir       = 'results'
    intermediate_dir = 'tmp'
    dragen_container = "public.ecr.aws/docker/library/oraclelinux:8"
}

process {
  cpus = 24
  memory = 256.GB
  container = "${params.dragen_container}"
  containerOptions = '-v /opt/edico/bin:/opt/edico/bin'
}

aws {
    batch {
        volumes = '/opt/edico/bin:/opt/edico/bin'
    }
}
